{% extends "base.html" %}
{% block title %}
修改个人信息{% endblock title %}
{% block content %}

<div class="page-header">
  <h2>修改信息</h2>
</div>

<form class="form-horizontal span8" method="post" action="/accounts/">
{% csrf_token %}
<fieldset>
        {% for field in form.visible_fields %}
       
        <div class="control-group">
        <label class="control-label" for="{{ field.name}}">{{ field.label}}</label> 
        <div class="controls">
        {# <input type="text" name="{{field.name}}" class="span3" placeholder="{{ field.label }}"> #}
        {{field}}
        <span class="help-inline">{{field.errors}}</span>
        </div>
        </div>
  
 {% endfor %}
       </fieldset>
	   <div class="form-actions">
            <button type="submit" class="btn btn-primary">确认</button>
            <a class="btn" href="/">Cancel</a>
          </div>
</form>
{% endblock content %}
