{% extends "base.html" %}

{% block title %}
{{ album.short_description }}
{% endblock title %}

{% block buy %}

{% if buy %}
<div class="alert alert-info" align="center">
You purchased this item before.
</div>
{% endif %}
	
{% endblock buy %}


{% block content %}

<script type="text/javascript" >
    function Change(obj)
    {
        var oi = obj.options[obj.selectedIndex].value;
        amount="?amount="+oi;
		x=$("a#cart").attr("href").indexOf("?")
        url=$("a#cart").attr("href").substr(0,x);
		url=url+amount
        $("a#cart").attr("href",url)
    }
	</script>
	
<header class="jumbotron subhead page-header" id="overview">
  <h2>{{ album.title }}
{% if album.is_digital %}
(digital edition)
{% endif %}
</h2>
 
</header>

<div class="row">
<div class="span3">
 <a href="#" class="thumbnail">
      <img src="/media/{{album.pic}}" alt="">
    </a>
</div>
<div class="span5">
<h4>Title:{{ album.title }}</h4>
<h4>Singer:{{ album.singer }}</h4>
<h4>Year:{{ album.year }}</h4>
<h4>Price{{ album.price }}</h4>

</div>

<div id="addtocart"class=" span2 pull-right">
{% if not album.is_digital %}
Amount：
<select name="amount" id="amount" class="span1" onchange="Change(this)">
<option value="1" selected>1</option>
<option value="2">2</option>
<option value="3">3</option>
</select>
{% endif %}
<a class="btn btn-large btn-success" id="cart" href="/cart/add/{{album.id}}/?"><i class="icon-shopping-cart icon-white"></i>Add to cart</a>
</div>
</div>

<div id="desciption">
<div class="page-header">
  <h3>Description</h3>
</div>

{{ album.description|safe}}


<div class="page-header">
  <h3>Comments</h3>
</div>
{% if album.comment_set.all %}
{% for comment in album.comment_set.all %}
<div id="comment">
<div class="page-header"> 
  <h4> <i class="icon-comment"></i>{{comment.title}} </h4>
{{comment.create_time}}<br/>
{{comment.content|safe}}<br/>
from:{{comment.user.username}}

</div>

</div>
{% endfor comment_list %}
{% else %}
<div class="page-header">
  <h4>No comments</h4>
</div>

{% endif %}

<div id ="addcomment">
<div class="page-header">
 <h3> <i class="icon-plus"></i>Add your comment</h3> 
</div>

<form id="" method="post" action="/comment/add/" class="horizontal">{% csrf_token %}
<fieldset>
<input type="hidden" name="album" value="{{album.id}}" />
    <div class="control-group">
      <label class="control-label" for="input01">Title</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" name="title">
      </div>
    </div>
          <div class="control-group">
            <label class="control-label" for="textarea">Content(support new line , use&ltbr/>)</label>
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="3" name="content"></textarea>
            </div>
          </div>
  </fieldset>

<button type="submit" class="btn">Confirm</button>

</form>

{% endblock content %}
</div>
