{% extends "base.html" %}
{% block title %}
My order
{% endblock title %}
{% block content %}
<div class="page-header">
  <h2>Order history</h2>
</div>

{% for order in order_set %}
<div class="well span11">

  <div class="span2">
  <label>Time：{{order.create_date|date:"Y/m/d-h:i:s"}}</label>
{% if not order.is_only_digital %}
<label>Address：{{order.address}}</label>
<label>Name:{{order.address.name}}</label>
{% endif %}
  Total price：{{ order.price}}
  <label>status:</label>
  <div class="progress progress-striped
     active">
  <div class="bar" style="width:
 {% if order.finished %}
   100%
  {% else %}
    50%
  {% endif %};"></div>
</div>
  </div>
    <div class="span7 pull-left">
    <ul class="thumbnails">
  {% for orderdetail in order.orderdetail_set.all %}

    <li class="myspan1">
    <a href="/album/{{orderdetail.album.id}}" class="thumbnail">
      <img src="/media/{{orderdetail.album.pic}}" alt="">
    ￥:{{orderdetail.per_price}} *{{orderdetail.amount}} 
  
    </a>
	</li>
  {% endfor %}
     </ul> 
	</div>
 
        <div class="span2 pull-left"></div>
         <a class="btn btn-large btn-success"  href="/order/{{ order.id }}/download"><i class="icon-download-alt icon-white"></i>Download</a>

    
  </div>
{% endfor %}

{% endblock content %}


