{% extends "base.html" %}
{% block title %}
Success
{% endblock title %}
{% block login %}
{% endblock login%}
{% block content %}

<div class="span3">
 <a href="#" class="thumbnail">
      <img src="/media/{{item.album.pic}}">
    </a>
</div>
<div class ="span5">
<h3>Title：{{item.album}}</h3>
<h4>Price：{{item.album.price}}</h4>
<h4>Amount：{{amount}}</h4>
<div class="alert alert-info">
   1 item added to Cart
</div>
     <a class="btn btn-success btn-large" href="/cart/">
      Edit your cart 
    </a>
    
	    <a class="btn btn-info btn-large" href="/">
      Continue shopping
    </a>
</div>
{% endblock content %}
