{% extends "base.html" %}
{% block title %}
添加成功
{% endblock title %}
{% block login %}
{% endblock login%}
{% block content %}

<div class="span3">
 <a href="#" class="thumbnail">
      <img src="/static/{{item.album.pic}}" alt="">
    </a>
</div>
<div class ="span5">
<h3>专辑：{{item.album}}</h3>
<h4>单价：{{item.album.price}}</h4>
<h4>数量：{{amount}}</h4>
<div class="alert alert-info">
   已加入到您的购物车
</div>
     <a class="btn btn-success btn-large" href="/cart/">
      查看购物车
    </a>
    
	    <a class="btn btn-info btn-large" href="/">
      继续购物
    </a>
</div>
{% endblock content %}
