{% extends "base.html" %}
{% block title %}
我的地址{% endblock title %}
{% block content %}

<div class="page-header">
  <h2>我的地址</h2>
</div>

<form method="post" class="form-horizontal span6" action="/address/save/">{% csrf_token %}


{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
  <fieldset>
        {% for field in form.visible_fields %}
  {% if field.errors %}
   <div class="control-group error">
{% else %}
 <div class="control-group">
{% endif %}

        <label class="control-label" for="{{ field.name}}">{{ field.label}}</label> 
        <div class="controls">
        {# <input type="text" name="{{field.name}}" class="span3" placeholder="{{ field.label }}"> #}
        {{field}}
        <span class="help-inline">{{field.errors}}</span>
        </div>
        </div>
  
 {% endfor %}
       </fieldset>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">确认</button>
            <a class="btn" href="/address/">取消</a>
          </div>

</form>
{% endblock content %}
