{% extends "base.html" %}

{% block title %}
地址簿
{% endblock title %}

{% block content %}
<div class="page-header">
<div class="row"><h2 class="span2">我的地址簿</h2>

<div class="span5">

<div class="btn-group" data-toggle="buttons-checkbox">
<a class="btn btn-large btn-primary pull-left" id="order" href="/address/add/"><i class="icon-plus icon-white"></i>添加</a>
</div>
</div>
</div>
</div>

<div class="span10">
{% if address_list %}
<table class="table-striped span10 table-condensed table-bordered">
  <thead>
    <tr>
      <th>姓名</th>
      <th>地址</th>
      <th>邮编</th>
      <th>管理</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for address in address_list %}
      <td>{{ address.name }}</td>
      <td>{{ address.address }}</td>
      <td>{{ address.postal_code }}</td>
      <td align="center"><a class="btn" href="/address/modify/{{address.id}}/"><i class="icon-edit"></i>修改</a></td>
    </tr>
   {% endfor %}
  </tbody>
</table>
{% else %}
无地址，请<a href="/address/add/">添加</a>
{% endif %}
</div>
{% endblock %}
