<!DOCTYPE HTML>
<html>
<head>
  <title>登陆</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap-dropdown.js"></script>
 <script src="/static/js/bootstrap-button.js"></script>
   <script src="/static/js/bootstrap-carousel.js"></script>
   <link href="/static/css/docs.css" rel="stylesheet">
   <script src="/static/js/bootstrap-transition.js"></script>
</head>

<script type="text/javascript" >
    function myclick(obj)
    {
        location.href="/album/search/"+obj;
    }
	</script>


<body data-spy="scroll" data-target=".subnav" data-offset="50">

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">MY</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
              <li class="divider-vertical"></li>
            <li><a href="/album/genre/Pop/">Pop</a></li>  <li class="divider-vertical"></li>
            <li><a href="/album/genre/Rock/">Rock</a></li>  <li class="divider-vertical"></li>
            <li><a href="/album/genre/Classical/">Classical</a></li>  <li class="divider-vertical"></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="nav-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
              <li class="divider-vertical"></li>
          </ul>

             <ul class="nav ">
            <div class="navbar-search pull-left">
             <input type="text" id="search" class="search-query span2"/>
           </div>
              <button class="btn"  href="/album/search/" onClick="myclick(search.value)">搜索</button>
            </ul>
      
            
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

        
	    <section >
        {% if form.errors %}
        <div class="alert alert-error" align="center">
        用户名或者密码错误
        {% endif %}
        
        </div>
        
        </section>

        
  <div class="container">

<div class="page-header">
  <h2>登陆</h2>
</div>

<form class="form-horizontal span10" method="post" action="/accounts/login/">
{% csrf_token %}
<fieldset>
       {% for field in form.visible_fields %}

     <div class="control-group">

       <label class="control-label" for="{{ field.name}}">{{ field.label}}</label> 
       <div class="controls">
       {# <input type="text" name="{{field.name}}" class="span3" placeholder="{{ field.label }}"> #}
       {{field}}
       <span class="help-inline"></span>
       </div>
       </div>
 
{% endfor %}

<input type="hidden" name="next" value="{{next}}">
</fieldset>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">登录</button>
               <a  class="btn" href="/accounts/register/">注册</a>
          </div>
</form>
   </div>



</body>
</html>