{% extends "base.html" %}
{% block title %}
我的购物车
{% endblock title %}
{% block content %}

<div class="page-header">
<div class="row"><h2 class="span2">我的购物车</h2>

<div class="span5">
{% if  item_set %}
<div class="btn-group" data-toggle="buttons-checkbox">
<a class="btn btn-large btn-success pull-left" id="cart" href="/cart/pre_order/"><i class="icon-shopping-cart icon-white"></i>结算</a>
<a class="btn btn-large btn-danger pull-left" id="cart" href="/cart/clean/"><i class="icon-trash icon-white"></i> 清空</a>
</div>
{% else %}


<a class="btn btn-large btn-info pull-left" id="cart" href="/album/"><i class="icon-shopping-cart icon-white"></i>继续购物</a>
{% endif %}
</div>

</div>

</div>





{% if item_set %}
<div class="span 10 pull-left">
<ul class="thumbnails">

 {% for item in item_set %}
<div class="row">
<div class="myspan2">
 <a href="/album/{{item.album.id}}/" class="thumbnail">
      <img src="/media/{{item.album.pic}}" alt="">
    </a>
</div>
<div class="span5">

<h3>专辑：{{ item.album.title }}</h3>
<h4>单价：{{ item.album.price}}</h4>
<h4>数量：{{item.amount}}</h4>
</div>
<div class="span3">
<a href="/cart/cart_add/{{item.album.id}}" class="btn  btn-success" ><i class="icon-plus-sign icon-white"></i></a>
<a href ="/cart/delete/{{item.album.id}}" class="btn  btn-warning"><i class="icon-minus-sign icon-white"></i></a>
<a href ="/cart/delete_album/{{item.album.id}}" class="btn  btn-danger"><i class="icon-remove-sign icon-white"></i></a>

</div>
</div>

{% endfor %}

{% else %}

暂时为空，去选几张专辑吧
{% endif %}

{% endblock content %}