{% extends "album_list.html" %}


{% block nav %}
  <ul class="nav">
    <li><a href="/">Home</a></li>
      <li class="divider-vertical"></li>
    <li class="active"><a href="/album/genre/Pop/">Pop</a></li>  <li class="divider-vertical"></li>
    <li><a href="/album/genre/Rock/">Rock</a></li>  <li class="divider-vertical"></li>
    <li><a href="/album/genre/Classical/">Classical</a></li>  <li class="divider-vertical"></li>
{% endblock nav %}


{% block mytitle %} 
<div class="page-header">
  <h2>Pop</h2>
</div>
{% endblock mytitle %} 
